<h1>Contact me!</h1>
<ul>
  <li><%= link_to 'email', 'mailto:foxnewsnetwork@gmail.com' , :target => '_blank'%></li>
  <li><%= link_to 'LinkedIn', 'http://www.linkedin.com/profile/view?id=109987777' , :target => '_blank'%></li>
  <li><%= link_to 'Twitter', 'https://twitter.com/#!/ThomasHanChen' , :target => '_blank' %></li>
</ul>

